@media (max-width: 900px) {
	.app-container {
		width: 100%;
	}

	.menu {
		flex-direction: column;

		.one {
			height: 47px;
			justify-content: center !important;
		}

		.two {
			justify-content: center;
			margin-top: -10px !important;
		}
	}
}
