:root {
	--filter: none;
	--blend: normal;
}


#interface {
	margin-top: 25px;

	.container {
		width: 98%;
		position: relative;
		display: grid;
		grid-template-columns: 100px 2fr 250px;
		grid-template-rows: auto;
		column-gap: 4px;
		margin: 0 auto;
		margin-top: -20px;
		background-color: lighten($darkBlue2, 5%);
		border-right: 30px solid $darkBlue2;
	}

	.tools {
		background-color: $darkBlue2;
		border-right: 2px outset $darkBlue3;

		li {
			color: darken(white, 30%);
			font-size: 1.5rem;

			&:hover {
				color: white;
			}
		}

		li:not(:last-child) {
			margin-bottom: 2.6rem;
		}
	}
}

.user-interface {
	//outline: 3px solid white;
	width: 100%;
	display: flex;
	align-items: center;
	mix-blend-mode: var(--blend);
}

.effect {
	background-color: $darkBlue2;
	width: 100%;
	color: white;

	.sliders {
		padding: 1rem .4rem;

		.form-group:not(:last-child) {
			margin-bottom: .5rem;

			label {
				font-size: 1.3rem;
				letter-spacing: .6px;
			}
		}
	}

	.blend-modes {
		padding: 1rem .4rem;

		.blend-modes__container {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			select {
				width: 112px;
				height: 30px;
				font-size: 1.3rem;
				padding: 0;
				margin: 0;
				background-color: $darkBlue3;
				color: white;
				margin-left: 5px;
				padding-left: 2px;
				border: 1px solid #eee;
				border-radius: 3px;
			}
		}
	}
}

.app-name {
	width: 100%;

	h3 {
		text-align: center;
		font-size: 4rem;
		font-family: cursive;
		color: white;
		mix-blend-mode: overlay;
	}
}
